@using System.Data;
@model DataSet

@section Estilos{
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel=" stylesheet" />

    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
            border: none;
            border-radius: .5rem;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
            border: none;
            border-radius: .5rem;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
            border: none;
            border-radius: .5rem;
        }
    </style>
}

<div class="container">
    <table class="display grid" style="width:100%" id="tabela">
        <thead>

            <tr>
                
                @foreach (DataColumn col in Model.Tables[0].Columns)
                {
                    <th> @col.ColumnName </th>
                }
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (DataRow item in Model.Tables[0].Rows)
            {
                <tr>
                    <td> @item["Id"] </td>
                    <td> @item["Descricao"] </td>
                    <td> @item["Re"] </td>
                    <td> @item["NumeroAtivo"] </td>
                    <td> @item["Local"]</td>
                    <th></th>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Re</th>
                <th>Número Ativo</th>
                <th>Sexo</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tabela').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                    },
                    dom: "Bfrtip",
                    buttons: [
                        //excel
                        {
                            extend: 'excelHtml5',
                            text: 'Exportar Excel',
                            filename: 'Relatório Colaboradores',
                            title: 'Lista de Colaboradores',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            },
                            className: 'btn-exportar-excel',

                        },
                        //pdf
                        {
                            extend: 'pdfHtml5',
                            text: 'Exportar PDF',
                            filename: 'Relatório Colaboradores',
                            title: 'Lista de Colaboradores',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            },
                            className: 'btn-exportar-pdf',
                        },
                        //print
                        {
                            extend: 'print',
                            title: 'LRelatório Colaboradores',
                            exportOptions: {
                                columns: [1, 2, 3, 4, 5]
                            },
                            className: 'btn-exportar-print'

                        },
                        //numero de paginas
                        'pageLength'
                    ]
                });
        });
    </script>
}              